models/__pycache__/ARIMAModel.cpython-39.pyc
models/__pycache__/FBProphetModel.cpython-39.pyc
models/__pycache__/FBProphetModel.cpython-311.pyc
models/__pycache__/HoltWintersModel.cpython-39.pyc
models/__pycache__/HoltWintersModel.cpython-311.pyc
.vscode/settings.json
models/__pycache__/FBProphetModel.cpython-310.pyc
models/__pycache__/HoltWintersModel.cpython-310.pyc
models/myModule/__pycache__/__init__.cpython-311.pyc
models/myModule/__pycache__/dataAnalysis.cpython-311.pyc
models/myModule/__pycache__/dateGeneration.cpython-311.pyc
models/myModule/__pycache__/fileIO.cpython-311.pyc
models/__pycache__/loadCsvExcelFile.cpython-311.pyc
models/__pycache__/myFunctions.cpython-311.pyc
Data/sampledata.csv
Data/Output/ARIMAModel.csv
Data/Output/FBProphetModel.csv
Data/Output/HoltWintersModel.csv
models/__pycache__/ARIMAModel.cpython-311.pyc
models/__pycache__/ARIMAModel.cpython-310.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
lightning_logs/version_0/events.out.tfevents.1719818021.ajaz-ml.12813.0
lightning_logs/version_0/events.out.tfevents.1719818052.ajaz-ml.12813.1
lightning_logs/version_0/hparams.yaml
lightning_logs/version_1/events.out.tfevents.1719818976.ajaz-ml.17907.0
lightning_logs/version_1/events.out.tfevents.1719819002.ajaz-ml.17907.1
lightning_logs/version_1/hparams.yaml
lightning_logs/version_10/events.out.tfevents.1719833135.ajaz-ml.75369.0
lightning_logs/version_10/events.out.tfevents.1719833144.ajaz-ml.75369.1
lightning_logs/version_10/hparams.yaml
lightning_logs/version_11/events.out.tfevents.1719833459.ajaz-ml.76783.0
lightning_logs/version_11/events.out.tfevents.1719833489.ajaz-ml.76783.1
lightning_logs/version_11/hparams.yaml
lightning_logs/version_12/events.out.tfevents.1719834285.ajaz-ml.80779.0
lightning_logs/version_12/events.out.tfevents.1719834314.ajaz-ml.80779.1
lightning_logs/version_12/hparams.yaml
lightning_logs/version_13/events.out.tfevents.1719834494.ajaz-ml.81756.0
lightning_logs/version_13/events.out.tfevents.1719834522.ajaz-ml.81756.1
lightning_logs/version_13/hparams.yaml
lightning_logs/version_14/events.out.tfevents.1719835420.ajaz-ml.85384.0
lightning_logs/version_14/events.out.tfevents.1719835450.ajaz-ml.85384.1
lightning_logs/version_14/hparams.yaml
lightning_logs/version_15/events.out.tfevents.1719836034.ajaz-ml.87560.0
lightning_logs/version_15/events.out.tfevents.1719836066.ajaz-ml.87560.1
lightning_logs/version_15/hparams.yaml
lightning_logs/version_2/events.out.tfevents.1719819014.ajaz-ml.18229.0
lightning_logs/version_2/events.out.tfevents.1719819058.ajaz-ml.18229.1
lightning_logs/version_2/hparams.yaml
lightning_logs/version_3/events.out.tfevents.1719825215.ajaz-ml.45262.0
lightning_logs/version_3/events.out.tfevents.1719825246.ajaz-ml.45262.1
lightning_logs/version_3/hparams.yaml
lightning_logs/version_4/events.out.tfevents.1719825483.ajaz-ml.46624.0
lightning_logs/version_4/events.out.tfevents.1719825513.ajaz-ml.46624.1
lightning_logs/version_4/hparams.yaml
lightning_logs/version_5/events.out.tfevents.1719827079.ajaz-ml.53150.0
lightning_logs/version_5/events.out.tfevents.1719827085.ajaz-ml.53150.1
lightning_logs/version_5/hparams.yaml
lightning_logs/version_6/events.out.tfevents.1719827344.ajaz-ml.54576.0
lightning_logs/version_6/events.out.tfevents.1719827381.ajaz-ml.54576.1
lightning_logs/version_6/hparams.yaml
lightning_logs/version_7/events.out.tfevents.1719827456.ajaz-ml.55310.0
lightning_logs/version_7/events.out.tfevents.1719827486.ajaz-ml.55310.1
lightning_logs/version_7/hparams.yaml
lightning_logs/version_8/events.out.tfevents.1719827873.ajaz-ml.57160.0
lightning_logs/version_8/events.out.tfevents.1719827907.ajaz-ml.57160.1
lightning_logs/version_8/hparams.yaml
lightning_logs/version_9/events.out.tfevents.1719833103.ajaz-ml.75098.0
lightning_logs/version_9/events.out.tfevents.1719833125.ajaz-ml.75098.1
lightning_logs/version_9/hparams.yaml
models/__pycache__/ARIMAModel.cpython-310.pyc
models/__pycache__/neuralProphetModel.cpython-311.pyc
models/__pycache__/ARIMAModel.cpython-310.pyc
models/__pycache__/ARIMAModel.cpython-310.pyc
